* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(#34a0a4, #118ab2, #073b4c, #001219);
  background: radial-gradient(#ea7af4, #b43e8f, #6200b3, #290628);
  background: radial-gradient(#290020, #290628, #11001c, #000000, #000000);
}
