* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: #ffc4d6;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: 10% auto;
  text-align: center;
}

.containerT__tittle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  letter-spacing: 5px;
}

#sec,
#min,
#mili {
  font-size: 3.5em;
}
.screen {
  margin: 50px 0;
}
.containerB {
  background: #f4acb7;
}
.containerB__button {
  border: solid 3px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  padding: 20px 10px;
  width: 180px;
  margin: 10px;
  margin-left: 10px;
  outline: none;
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.containerB__button:hover {
  background: #ffacc5;
  transition: ease-in-out 1s;
}
